/* Style arrière plan */
body {
    background-image: url("couverture.jpg");
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    isolation: isolate;
}
body::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);;
}
/* Nav */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
header nav .logo {
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
}
header nav .nav {
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header nav .nav .SelectLanguage, .btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #888;
    background: rgba(0, 0, 0, 0.70);
    color: white;
}
.btn.btn-danger {
    text-decoration: none;
    background: red;
    color: white;
    border: none;
}
.btn.btn-danger.btn-lg {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
}
/* section */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 70px);
}
/* email */
section .forme .email {
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #888;
    background: rgba(0, 0, 0, 0.70);
}
section .forme .email::placeholder {
    color: #888;
}
section .forme .email {
    color: #ffffff;
}

/* page de connection */
/* Logo */
header nav .logo {
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
}
/* Identification */
.Identification {
    background: rgba(0, 0, 0, 0.70);
    padding: 60px 68px 40px;
    width: 350px;
    text-align: start;
}
.Identification form {
    display: flex;
    flex-direction: column;
}
.Identification input {
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background: #333;
    margin-bottom: 10px;
    color: #fff;
}
.Identification .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 13px;
    color: #B3B3B3;
}
.Identification .actions {
    text-decoration: none;
    color: #B3B3B3;
}
.Identification .Premiere-visite {
    text-decoration: none;
    color: #B3B3B3;
    font-size: 16px;
    font-weight: 400;
}
/* bas de la page */
.site-footer-wrapper {
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 20px;
    color: #888888;
}
.site-footer {
    max-width: 800px;
    margin: 0 auto;
}
.footer-top {
    font-size: 18px;
    color: #B3B3B3;
}
.footer-top-a {
    font-size: 18px;
    color: #B3B3B3;
    text-decoration: none;
}
.footer-top-a:hover {
    text-decoration: underline;
}